/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower|Pacifico|Roboto:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Lato:300,400,700,900");
$base-font: "Roboto", "Helvetica", "sans-serif";
$header-font: "Lato", "Helvetica", "sans-serif";
// $header1-font: "Gloria Hallelujah", "Helvetica", "cursive";
// $header2-font: "Lato", "Helvetica", "sans-serif";
// $header3-font: "Roboto", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
// Headers
$header1-size: 70px;
$header2-size: 25px;
$header3-size: 18px;
//base size
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$pgray: #666666;


// Green scale
$diamond: hsla(203%, 100%, 91%, 1);
$lightgreen: rgba(207, 255, 213,100);
$lightaqua: hsla(165%, 56%, 69%, 1);
$mediumaqua: hsla(161%, 46%, 57%, 1);
$keppel: hsla(173%, 48%, 45%, 1);
$celadon: hsla(174%, 61%, 33%, 1);

// $diamond: #cfedff;
// $lightgreen: #CFFFD6;
// $lightaqua: #84dcc6;
// $mediumaqua: #5fc4a4;
// $keppel: #3ba99c;
// $celadon: #21897e;

p {
  color: $pgray;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
