//GENERAL
.section {
  margin: 100px 50px;
  h2 {
    font-size: 30px;
    text-align: center;
  }
  h2 b {
    color:$celadon;
  }
}

//SERVICES CARDS
.cards b {
  color:$celadon
}
.card-image {
position: relative;
margin-top: 30px;
text-align: center;
}

//CTA SECTIONS
.cta {
  width: auto;
  padding: 10px;
  margin-bottom: 20px;
  .button {
    margin-top: 40px;
    text-align: center;
    padding: 15px;
    .btn-large {
      padding: 15px 25px;
    }
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
}

//VALUES
.title-home {
  padding: 0 20px
}

// BIO SECTION
.trigger-description {
  margin-top: 40px;
  margin-bottom: -10px;
  font-size: 24px !important;
}

.picture-bio {
  margin-top: 50px;
  margin-left: 10px;
}
.imgbio {
  border-radius: 50px;
}

.section-bio {
  margin: 20px 0px;
  line-height: 18px;
}

.header-bio {
  text-decoration: underline;
}

.social-media-links {
  position: absolute;
  right: 5px;
  bottom: 0px;
  padding: 10px;
  a {
    text-decoration :none;
    color: $pgray;
    font-size: 18px;
    padding: 3px;
  }
}

.mail-address {
  color: $mediumaqua;
  &:hover {
    color: $keppel;
    text-decoration: underline
  }
}
