.container-flex {
  padding: 20px;
  position: relative;
  height: 100px;
  margin: 50px 10px 40px 10px;
  display: flex;
  align-items: center;
  h1 {
    position: absolute;
    font-size: 30px;
    left: 3%;
  }
  h1 b {
    color:$celadon;
  }
}


.cta {
  width: auto;
  padding: 20px;
  .button {
    margin-top: 40px;
    text-align: center;
    padding: 15px;
  }
  h1 {
    font-size: 30px;
    text-align: center;
  }
}

.card-image {
position: relative;
margin-top: 30px;
text-align: center;
}

.description {
  margin: 100px 20px 50px 20px;
}

.picture-asc {
  padding: 50px;
}

.imgasc {
  border-radius: 50px;
}

.description-asc {
  padding: 20px 30px 20px 0px;
  color: $gray !important;
}

.section {
  margin: 50px 20px;
}


