<div class="modal fade" id="cgv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Conditions générales de Vente & Mentions légales</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Entre Anne-Sophie Chambon, créatrice de Donnie, professionnelle diplômée en ressources humaines, dûment habilitée aux fins des présentes. Anne-Sophie Chambon peut être jointe par email en cliquant sur le formulaire de contact accessible via la page d’accueil du site ou par mail à annesophie.chambon@donnie.fr</p>
        <p>Ci-après le « Prestataire» d’une part,</p>
        <p>Et la personne physique ou morale procédant à l’achat de produits ou services du Prestataire, ci-après « le Client » d’autre part, il a été exposé et convenu ce qui suit :</p>
        <h4 class="bold">PREAMBULE</h4>
        <p>Le Prestataire fournit des services de conseil en ressources humaines, d’accompagnement individualisé en matière d’évolution professionnelle, de bilan de compétences et de formation professionnelle exclusivement à destination de consommateurs, commercialisés par l’intermédiaire de son site Internet (www.donnie.fr). La liste et le descriptif des biens et services proposés par le Prestataire peuvent être consultés sur les sites susmentionnés.<br>
        Toute commande de prestation de conseil et d’accompagnement proposée sur le site www.donnie.fr implique l’acceptation sans réserve par le Client et son adhésion pleine et entière aux présentes conditions générales de vente qui prévalent sur tout autre document du Client.</p>
        <h4 class="bold">ARTICLE 1 : OBJET</h4>
        <p>Les présentes Conditions Générales de Vente déterminent les droits et obligations des parties dans le cadre de la vente en ligne de Produits proposés par le Prestataire.</p>
        <h4 class="bold">ARTICLE 2 : DISPOSITIONS GÉNÉRALES</h4>
        <p>Les présentes Conditions Générales de Vente (CGV) s’appliquent à toutes les ventes de Produits, effectuées au travers du site Internet du Prestataire qui est partie intégrante du Contrat entre le Client et le Prestataire. Le Prestataire se réserve la possibilité de modifier les présentes, à tout moment par la publication d’une nouvelle version sur son site Internet. Les CGV applicables alors sont celles étant en vigueur à la date du paiement (ou du premier paiement en cas de paiements multiples) de la commande. Le Client déclare avoir pris connaissance de l’ensemble des présentes Conditions Générales de Vente, et le cas échéant des Conditions Particulières de Vente liées à un produit ou à un service, et les accepter sans restriction ni réserve. Le Client reconnaît qu’il a bénéficié des conseils et informations nécessaires afin de s’assurer de l’adéquation de l’offre à ses besoins. Le Client déclare être en mesure de contracter légalement en vertu des lois françaises ou valablement représenter la personne physique ou morale pour laquelle il s’engage. Sauf preuve contraire les informations enregistrées par le Prestataire constituent la preuve de l’ensemble des transactions.</p>
        <h4 class="bold">ARTICLE 3 : PRIX</h4>
        <p>Les prix des services vendus au travers du site Internet sont indiqués en Euros toutes taxes comprises et précisément déterminés sur les pages de descriptifs des Services. Le Prestataire se réserve la possibilité de modifier ses prix à tout moment pour l’avenir. Les frais de télécommunication nécessaires à l’accès au site Internet du Prestataire sont à la charge du Client.</p>
        <h4 class="bold">ARTICLE 4 : CONCLUSION DU CONTRAT EN LIGNE</h4>
        <p>Le Client devra suivre une série d’étapes spécifiques à chaque Service offert par le Prestataire pour pouvoir réaliser sa commande. Toutefois, les étapes décrites ci-après sont systématiques : ➢ Information sur les caractéristiques essentielles du Service ; ➢ Choix du Service, le cas échéant de ses options de dates et indication des données essentielles du Client (identification, adresse…) ; ➢ Vérification des éléments de la commande et, le cas échéant, correction des erreurs. ➢ Suivi des instructions pour le paiement, et paiement des produits. Le Client recevra alors confirmation par courrier électronique du paiement de la commande. Aux fins de bonne réalisation de la commande, et conformément à l’article 1316-1 du Code civil, le Client s’engage à fournir ses éléments d’identification véridiques. Le Prestataire se réserve la possibilité de refuser la commande, par exemple pour toute demande anormale, réalisée de mauvaise foi ou pour tout motif légitime.</p>
        <h4 class="bold">ARTICLE 5 : PRODUITS ET SERVICES</h4>
        <p>Les caractéristiques essentielles des services et leurs prix respectifs sont mis à disposition du Client sur le site Internet du Prestataire. Le Prestataire s’engage à honorer la commande du Client dans la limite des stocks de Produits disponibles uniquement. A défaut, le Prestataire en informe le Client. La durée de validité de l’offre des Produits ainsi que leurs prix sont précisés sur le site Internet du Prestataire, ainsi que la durée minimale des contrats proposés lorsque ceux-ci portent sur une fourniture continue ou périodique de produits ou services. Sauf conditions particulières, les droits concédés au titre des présentes le sont uniquement à la personne physique signataire de la commande (ou la personne titulaire de l’adresse email communiqué).</p>
        <h4 class="bold">ARTICLE 6 : PAIEMENT</h4>
        <p>Le paiement est exigible immédiatement à la commande. Le Client peut effectuer le règlement par carte de paiement. Les cartes émises par des banques domiciliées hors de France doivent obligatoirement être des cartes bancaires internationales (Mastercard, Visa, American Express). Le paiement sécurisé en ligne par carte bancaire est réalisé par notre prestataire de paiement Stripe. Une fois le paiement lancé par le Client, la transaction est immédiatement débitée après vérification des informations. Conformément à l’article L. 132-2 du Code monétaire et financier, l’engagement de payer donné par carte est irrévocable. En communiquant ses informations bancaires lors de la vente, le Client autorise le Prestataire à débiter sa carte du montant relatif au prix indiqué. Le Client confirme qu’il est bien le titulaire légal de la carte à débiter et qu’il est légalement en droit d’en faire usage. En cas d’erreur, ou d’impossibilité de débiter la carte, la Vente est immédiatement résolue de plein droit et la commande annulée.</p>
        <h4 class="bold">ARTICLE 7 : REMBOURSEMENT</h4>
        <p>Le Client bénéficie d’un droit de rétractation de 14 jours à compter du lendemain de la date d’achat de la prestation. Au delà de ce délai, l’achat n’est plus remboursable.<br>
        Toute demande de remboursement doit être communiquée par mail annesophie.chambon@donnie.fr.<br>
        En cas d’indisponibilité temporaire du Client, celui-ci pourra convenir avec le Prestataire du report de la date de démarrage de la Prestation, dans la limite de 6 mois à compter de la date d’achat initiale.</p>
        <h4 class="bold">ARTICLE 8 : DROITS DE PROPRIÉTÉ INTELLECTUELLE</h4>
        <p>Les marques, noms de domaines, produits, logiciels, images, vidéos, textes ou plus généralement toute information objet de droits de propriété intellectuelle sont et restent la propriété exclusive du Prestataire. Aucune cession de droits de propriété intellectuelle n’est réalisée au travers des présentes CGV. Toute reproduction totale ou partielle, modification ou utilisation de ces biens pour quelque motif que ce soit est strictement interdite.
        On rappelle ici simplement que la vente n'occasionne aucune cession d’IP.</p>
        <h4 class="bold">ARTICLE 9 : FORCE MAJEURE</h4>
        <p>L’exécution des obligations du Prestataire au terme des présentes est suspendue en cas de survenance d’un cas fortuit ou de force majeure qui en empêcherait l’exécution. Le Prestataire avisera le Client de la survenance d’un tel évènement dès que possible.</p>
        <h4 class="bold">ARTICLE 10 : NULLITÉ ET MODIFICATION DU CONTRAT</h4>
        <p>Si l’une des stipulations du présent contrat était annulée, cette nullité n’entraînerait pas la nullité des autres stipulations qui demeureront en vigueur entre les parties. Toute modification contractuelle n’est valable qu’après un accord écrit et signé des parties.</p>
        <h4 class="bold">ARTICLE 11 : PROTECTION DES DONNÉES PERSONNELLES</h4>
        <p>Conformément à la Loi Informatique et Libertés du 6 janvier 1978, vous disposez des droits d’interrogation, d’accès, de modification, d’opposition et de rectification sur les données personnelles vous concernant. En adhérant à ces conditions générales de vente, vous consentez à ce que nous collections et utilisions ces données pour la réalisation du présent contrat. En saisissant votre adresse email sur l’un du site de notre réseau, vous recevrez des emails contenant des informations et des offres promotionnelles concernant des produits édités par le Prestataire et de ses partenaires.
        Vous pouvez vous désinscrire à tout instant. Il vous suffit pour cela de cliquer sur le lien présent à la fin de nos emails ou de contacter le responsable du traitement (le Prestataire) par mail à l’adresse annesophie.chambon@donnie.fr</p>
        <br>
        <h4 class="bold">MENTIONS LÉGALES</h4>
        <p>Le présent site est la propriété du Prestataire Anne-Sophie Chambon.<br>
        Le directeur de la publication est Anne-Sophie Chambon.
        Pour nous contacter: annesophie.chambon@donnie.fr</p>
        <h4 class="bold">HÉBERGEMENT</h4>
        <p>Le présent site internet est hébergé par : Namecheap, Inc., 4600 East Washington Street, Suite 305, Phoenix, AZ 85034, USA.</p>
        <h4 class="bold">DONNEES PERSONNELLES</h4>
        <p>Seuls vos coordonnées, prénom, nom et messagerie font l'objet d'un enregistrement. Ces informations ne sont utilisées que par Donnie qui s'engage à ne les céder à aucun tiers. Conformément aux articles 38, 39 et 40 de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez d'un droit d'accès à ces informations et le cas échéant, d'un droit de rectification, ainsi que d'un droit d'opposition à leur enregistrement.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Fermer la fenêtre</button>
      </div>
    </div>
  </div>
</div>
