<div id="footer">
  <div class="text-left">
    <h3>Donnie! - Les RH à qui vous pouvez tout dire</h3>
<!--     <p>Les RH à qui vous pouvez tout dire</p> -->
    <div class="list-inline">
    <a href="">Mentions légales</a>
    <a href="">CGV</a>
    </div>
  </div>
  <div class="icons-right">
    <p>Retrouvez Donnie (et Anne-Sophie) sur les réseaux sociaux</p>
    <div class="list-inline">
      <a href=""><i class="fa fa-twitter"></i></a>
      <a href=""><i class="fa fa-medium"></i></a>
      <a href=""><i class="fa fa-linkedin"></i></a>
      <a href=""><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</div>
