<div id="footer">
  <div class="icons-left">
    <div class="list-inline">
      <a href=""><i class="fa fa-twitter"></i></a>
      <a href=""><i class="fa fa-medium"></i></a>
      <a href=""><i class="fa fa-facebook"></i></a>
    </div>
  </div>
  <div class="text-right">
    <p> 2017</p>
  </div>
</div>
