<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Ce que Muriel pense de nous</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>J’ai contacté Anne-Sophie à un moment de transition professionnelle alors que j’avais identifié mon envie de changer sans savoir encore très bien vers où aller.</p>
        <p>Anne-Sophie a une qualité d’écoute rare : elle a cherché à comprendre et à digérer mon parcours afin de questionner la façon dont je le présentais.<br>
        Cela lui a permis de me proposer des reformulations très justes qui allaient bien au delà de la forme.<br>
        Avec son aide, j’ai changé de regard sur mes expériences, accepté leur valeur, arrêté de les minimiser ou de les dénigrer.</p>

        <p>Les choses se sont faites en douceur, avec plusieurs allers et retours entre nous. Anne-Sophie s’est systématiquement assurée que ses propositions reflétaient la réalité du vécu (fond) d’une façon qui me convenait (forme). Son empathie lui permet de sentir les endroits de blocage.<br>
        Elle n’a pas précipité ma maturation mais m’a gentiment bousculée quand elle a senti que j’étais prête.<br>
        Elle a fait preuve d’une infinie patience pour argumenter certains points qui me semblaient difficiles.</p>

        <p>Au final, mon CV est transformé.<br>
        C’était celui d’une petite chose qui s’excuse d’être là. C’est devenu celui d’une personne qui assume ses points forts, se connaît, déroule les différents postes avec aisance grâce à un fil rouge.<br>
        Ce fil rouge justement, je ne le voyais pas quand je l’ai rencontrée…<br>
        Au fil de nos conversations, grâce à elle, il est devenu évident et ça change tout.</p>

        <p>Mais au delà du changement de CV, c’est avant tout moi qui suis différente.<br>
        Je viens de passer mon premier entretien avec le nouveau CV. J’étais sereine, j’avais confiance en moi, dans mes ressources. Pas arrogante, juste fière de ce que j’ai fait et confiante pour la suite! Et ça se sent!</p>

        <p>Ca vaut de l’or et je n’aurai jamais réussi ce pas énorme sans Anne-Sophie.</p>

        <p>J’ajoute que l’expérience RH d’Anne-Sophie a été un véritable atout puisqu’elle m’a donné de très nombreux conseils sur l’entretien lui-même, les process de recrutement, les questions auxquelles me préparer etc… Un vrai plus qui permet d’être naturelle le jour J.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Fermer le témoignage</button>
      </div>
    </div>
  </div>
</div>
