<div class="card-testimony">
  <p>"Au delà du changement de CV, c’est avant tout moi qui suis différente. Je viens de passer mon premier entretien avec le nouveau CV. J’étais sereine, j’avais confiance en moi, dans mes ressources. Pas arrogante, juste fière de ce que j’ai fait et confiante pour la suite! "  --  Muriel</p>
</div>
<div class="card-notice">
  <button type="button" class="btn-light" data-toggle="modal" data-target="#myModal">Lire le témoignage</button>
</div>
<%= render 'modal' %>
