.hrservices {
  padding: 20px;
}

.card {
  // height: 250px !important;
}

.donnie {
  font-family: Indie Flower;
}

.title {
  margin-bottom: 40px;
}

.headers {
  font-weight: bold;
  margin-right: 5px;
  border-radius: 3px;
  box-shadow: 2px solid #CCCCCC;
}

.header-item {
  color: white;
  background-color: $keppel;
  padding: 10px;
  margin-bottom: 10px;
  // width: 27% !important;
  -webkit-box-sizing: border-box;
  border: 10px solid white;

}


.row-title {
  padding: 10px;
  font-size: 16px;
  p {
    font-size: 13px
  }
}


.row-item {
  margin-bottom: 3vh;
  font-size: 14px;
  .bold {
    margin-bottom:0px
  }
}

.margin {
  margin-bottom: 20px;
}


.ul-no-bullets {
  list-style-type: none !important;
}

.scroll {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3vh;
}

.details {
  height: 10vh;
  width: 20vh;
  transition: 0.5 ease
}

.price {
  position: relative;
  top: 1.5vh;
  right: 3vh;
  font-size: 16px;
}

.description {
  font-size:14px;
}

.h4-mobile {
  margin-bottom: 0px
}

.sml {
  font-size: 14px !important;
}

.options {
  margin-top: 4vh;
  p {
    font-size: 13px !important;
  }
}

#ask {
  height: 55vh
}

.price-section {
  margin-top: 10vh;
  p {
  font-size: 17px
  }
}

.options-section {
  margin-top: 2vh
}

.price-section-mobile {
  margin-top: 5vh
}
