.hrservices {
  padding: 20px;
}

.card {
  // height: 250px !important;
}

.donnie {
  font-family: Indie Flower;
}

.table-content {
  font-size: 12px
}

.table {
  overflow-y: hidden
}

.ul-no-bullets {
  list-style-type: none;
}
