
.container-payment {
  width: 100%
}

.style {
  padding: 0px 1.5vh
}


#codePromo:hover {
  // &:hover {
    color: #282828;
    text-decoration: none !important;
}

.amount {
  margin-top: 4vh;
}


#option_section {
  display: flex;
  justify-content: space-between;
  margin: 2vh 0 2vh 0;
}

#option_selected {
  margin-right: 1vh;
  font-size: 14px
}

#promo_section {
  margin-top: 2vh
}

#couponCode {
  margin-right: 1vh;
  text-align: center;
}

.codePromoForm {
  font-size: 14px;
  margin-right: 0vh;
}
