#footer {
  position:relative;
  display:flex;
  align-items:center;
  justify-content: space-between;
  height: 20vh;
  bottom: 0;
  width:100%;
  background: rgba(74,73,74,0.77);
  padding: 10px 0 25px 0;
  bottom:0;
}

.footer-width {
  width:100%;
}

.text-left {
  margin-left: 1vh;
  margin-top: -1vh;
  color: white;
  a {
    cursor: pointer;
    letter-spacing: 0px;
    font-size: 11px;
    text-decoration: underline;
    color: #D6D6D6;
    transition: color 0.5s ease;
    &:hover {
      color: #F9F9F9;
    }
  } .text-white {
    margin-top: 5px;
    color: #D6D6D6;
  } .text-white-mobile {
    color: #D6D6D6;
  }
}

.text-left .list-inline {
  margin-left: 0.5vh;
  .fa {
    letter-spacing: 15px
  }
}

.text-right {
  margin-right: 15vh;
  margin-top: -1vh;
  h3 {
    color: white;
  } a {
    letter-spacing: 15px
  }
}

#footer p {
  font-size: 11px;
  text-decoration: none;
}
#footer h3 {
  font-size: 16px;
  margin-top: 20px !important;
  margin-bottom: 0px !important;
}

#footer a {
  color: #D6D6D6;
  text-decoration: none;
  // font-size: 20px;
  // letter-spacing: 20px;
  transition: color 0.5s ease;
  &:hover {
    color: #F9F9F9;
  }
}

#footer .text-white p {
  color: #D6D6D6
}
