#footer {
  position:relative;
  display:flex;
  align-items:center;
  justify-content: space-between;
  height: 80px;
  bottom: 0;
  width:100%;
  background: rgba(74,73,74,0.77);
  padding: 10px 0 25px 0;
  color: white;
  bottom:0;
  .text-left {
    position: absolute;
    left: 20px;
    top: -5px;
    .list-inline {
      position: absolute;
      left: 5px;
      bottom: -25px;
    }
    a {
      letter-spacing: 0px;
      font-size: 12px;
      font-height: 14px;
      text-decoration: underline;
      color: #D6D6D6;
      transition: color 0.5s ease;
      &:hover {
        color: #F9F9F9;
      }
    }
  }
  .icons-right {
    position: absolute;
    right: 20px;
    top: 15px;
  }
}

#footer p {
  color: white;
  font-size: 12px;
  text-decoration: none;
}
#footer h3 {
  font-size: 16px;
  margin-top: 20px !important;
}

#footer .list-inline {
  position: absolute;
  right: -20px;
}

#footer a {
  color: #D6D6D6;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
  &:hover {
    color: #F9F9F9;
  }
}

