.btn {
  background-color: $mediumaqua;
  color: white;
  border-radius: 20em;
  padding: 5px 10px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  border-style: none;
  line-height: 20px;
  &:hover {
    background-color: $celadon;
  }
}

.btn-small {
  background-color: $lightaqua;
  color: white;
  border-radius: 20em;
  padding: 2px 8px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  border-style: none;
  line-height: 10px;
  &:hover {
    background-color: $celadon;
  }
}

.btn-large {
  background-color: $mediumaqua;
  color: white;
  border-radius: 20em;
  padding: 10px 20px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  border-style: none;
  line-height: 40px;
}

.btn-large:hover {
  background-color: $celadon;
  color: white;
  border-radius: 20em;
  padding: 10px 20px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  line-height: 40px;
}
