.card {
  background-color: $mediumaqua;
  height: 25vh;
  background-size: cover !important;
  color: white;
  position: relative;
  margin: 40px 10px 40px 10px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px solid #CCCCCC;
  p {
    color: white
  }
}

.large {
  height: 70vh;
}
.values {
  height:28vh
}

.medium {
  height: 50vh;
}

.hrservices-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio-card {
  margin: 40px 10px 40px 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: #F3FFE6;
  position: relative;
}

.card-description {
  position: absolute;
  // bottom: 10px;
  left: 10px;
  top: -8px;
  padding-right: 2px
}
.card-description h3 {
  font-size: 20px;
}
.card-description p {
  font-size: 14px;
}
.card-content p {
  color: white
}

.card-content ul {
  font-size: 14px;
  margin-left: -20px;
  line-height: 16px;
}
.card-content-no-js p {
  color: white
}
.card-notice {
  position:absolute;
  bottom: 10px;
  right: 15px;
  p {
    color: white;
    font-size: 16px;
  }
}

.card-title {
  font-size: 18px;
  font-weight: bolder;
  text-shadow: 2px 1px solid #999999
}

.card-price {
  position: absolute;
  right: 15px;
  bottom: 35px;
}

.card-button-bottom-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
  a {
    text-decoration: none;
    color: white
  }
}

.card-button-bottom-left {
  position: absolute;
  left: 50px;
  bottom: 10px;
  color: white;
  cursor: pointer;
}

.card-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color:white;
}

.card-table {
  background-color: #ecf5ef;
  height: 200px;
  background-size: cover !important;
  color: $pgray;
  position: relative;
  margin: 10px 5px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px solid #CCCCCC;
  &:hover {
    background-color: $lightgreen
  }
}





