.simple_form {
  color: black !important;
  label {
    color: white;
    margin-bottom: 10px;
  }
}
.submit-btn {
  text-align: center;
  padding-top: 30px;
  .btn {
    background-color: $lightaqua;
    padding: 12px;
    &:hover {
      background-color: $celadon;
    }
  }
}
.form-container {
  padding: 10px;
  margin-top: 20px;
}

.contact-form {
  padding: 5px;
  margin-bottom: 7vh;
  .form-group {
    margin: 1vh 0 3vh 0;
  }

}

// .meeting_meeting_date {
//   width: 90%;
// }

// .input-group-addon {
//   width:10%
// }
// .meeting_option {
//   // display: flex;
//   // justify-content: space-around;
//   // align-items: center;
//   padding-top: 20px;
// }

// .meeting_location_slots {
//   // width: 50%
// }

// .input-group-addon {
//   // display: flex;

// }
